/* body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #343a40 !important;
}

.navbar-brand, .nav-link {
    color: white !important;
}

.card {
    margin: 20px auto;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
} */